* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
}
html,
body {
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 100%;
  /* background-color: lightblue; */
}

#nav {
  height: 100px;
  width: 100%;
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
  /* background-color: rgb(10, 238, 10); */
}

#nav-part1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

#nav h3 {
  font-size: 16px;
  border: 1.5px solid black;
  font-weight: 500;
  padding: 5px 11px;
  border-radius: 50px;
}
#nav i {
  font-size: 16px;
  border: 1.5px solid black;
  font-weight: 500;
  padding: 5px 11px;
  border-radius: 50px;
}

#nav h2 {
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
}

#nav button {
  padding: 8px 16px;
  border-radius: 15px;
  border: 1.5px solid black;
  cursor: pointer;
  font-size: 16px;
}
#btn1 {
  background-color: white;
  color: black;
  border: none;
}
#btn2 {
  background-color: orangered;
  color: white;
  border: none;
}

#btn2:hover {
  border-radius: 10px;
  transform: rotate(15deg);
}
#btn1:hover::before {
  opacity: 0.5;
  transform: scale(2);
}

#main > h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-size: 150px;
  width: 100%;
  text-align: center;
}

img {
  width: 400px;
  height: 500px;
  object-fit: cover;
  /* object-position: center; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}

#img1 {
  transform: translate(-50%, -50%) rotate(-30deg);
}
#img2 {
  transform: translate(-50%, -50%) rotate(-20deg);
}
#img3 {
  transform: translate(-50%, -50%) rotate(-10deg);
}

#btm-left {
  position: absolute;
  bottom: 5%;
  left: 4%;
  font-size: 16px;
  font-weight: 600;
}
#btm-right {
  position: absolute;
  bottom: 5%;
  right: 4%;
  font-size: 16px;
  font-weight: 600;
}
#arr {
  position: absolute;
  bottom: 5%;
  padding-left: 50%;
}
